[user]
	name = Jason L Perry
	email = 298+ambethia@users.noreply.github.com
[init]
	defaultBranch = main
[hub]
	protocol = https
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
