[user]
	name = Jason L Perry
	email = jason@suncoast.io
[push]
	default = matching
[color]
	status = auto
	diff = auto
	branch = auto
	ui = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	excludesfile = ~/.gitignore
[diff]
	tool = opendiff
[difftool]
	prompt = false
[difftool "opendiff"]
	cmd = /usr/bin/opendiff \"$LOCAL\" \"$REMOTE\" -merge \"$MERGED\" | cat
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[status]
	showUntrackedFiles = all
[merge]
	tool = opendiff
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[submodule]
	recurse = true
