"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    css:
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "45cfdcfc-3085-4a19-ae31-5e814a7e2f8b"
    html:
      indent_size: 2
    rust:
      beautify_on_save: true
  "atom-ternjs": {}
  core:
    disabledPackages: [
      "autocomplete"
      "linter-htmlhint"
      "linter-rubocop"
      "linter-csslint"
      "linter-glsl"
      "autocomplete-glsl"
      "tokamak"
      "linter-jscs"
      "linter-stylint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "bower_components"
      "node_modules"
      "._*"
    ]
    projectHome: "/Users/ambethia/Documents"
  editor:
    fontSize: 23
    invisibles:
      space: " "
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: true
  emmet: {}
  "exception-reporting":
    userId: "a10c643c-cba3-79b5-895c-b1cbd137b869"
  "expand-region": {}
  haxe: {}
  "js-autoimport":
    spaceForNamedImports: false
  linter:
    errorPanelHeight: 75
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-glsl": {}
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintMarkdownFiles: true
  "linter-jscs":
    onlyConfig: true
  "linter-rubocop": {}
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-stylint":
    onlyRunWhenConfig: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    relativeImagePath: true
    siteEngine: "html"
    tableAlignment: "left"
  metrics:
    userId: "15d051bf606ae5751075b86ce538bd746bfcfcff"
  minimap:
    plugins:
      bookmarks: false
      bookmarksDecorationsZIndex: 0
      codeglance: false
      codeglanceDecorationsZIndex: 0
  "one-dark-ui": {}
  pigments: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue:
          red: 114
          green: 190
          blue: 242
          alpha: 1
        green:
          red: 210
          green: 145
          blue: 228
          alpha: 1
        red:
          red: 185
          green: 192
          blue: 203
          alpha: 1
        yellow:
          red: 219
          green: 170
          blue: 121
          alpha: 1
      zBright:
        brightBlack:
          red: 111
          green: 119
          blue: 131
          alpha: 1
        brightBlue:
          red: 114
          green: 190
          blue: 242
          alpha: 1
        brightCyan:
          red: 101
          green: 194
          blue: 205
          alpha: 1
        brightGreen:
          red: 167
          green: 204
          blue: 140
          alpha: 1
        brightMagenta:
          red: 210
          green: 145
          blue: 228
          alpha: 1
        brightRed:
          red: 232
          green: 131
          blue: 136
          alpha: 1
        brightYellow:
          red: 255
          green: 255
          blue: 255
          alpha: 1
    core: {}
    iconColors:
      blue:
        red: 101
        green: 194
        blue: 205
        alpha: 1
      green:
        red: 210
        green: 145
        blue: 228
        alpha: 1
      magenta:
        red: 207
        green: 50
        blue: 208
        alpha: 1
      orange:
        red: 207
        green: 161
        blue: 116
        alpha: 1
      pink:
        red: 232
        green: 131
        blue: 136
        alpha: 1
      yellow:
        red: 243
        green: 228
        blue: 147
        alpha: 1
  racer:
    racerBinPath: "/Users/ambethia/bin/racer"
    rustSrcPath: "/Users/ambethia/.multirust/src/current/"
  react: {}
  "standard-formatter":
    checkStyleDevDependencies: true
    formatOnSave: true
  stylefmt:
    formatOnSave: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "terminal-plus":
    style: {}
    toggles: {}
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".rust.source":
  editor:
    preferredLineLength: 99
