"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      totalCount:
        max: 200
  "atom-beautify":
    css:
      indent_size: 2
      newline_between_rules: true
    general:
      _analyticsUserId: "45cfdcfc-3085-4a19-ae31-5e814a7e2f8b"
    html:
      indent_size: 2
    js:
      break_chained_methods: true
      end_with_newline: true
      indent_size: 2
    rust:
      beautify_on_save: true
  "atom-ternjs":
    inlineFnCompletionDocumentation: true
    snippetsFirst: true
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    includeCompletionsFromAllBuffers: false
    minimumWordLength: 4
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    preferredFormat: "HEX"
  core:
    disabledPackages: [
      "autocomplete"
      "linter-clang"
      "language-javascript"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "bower_components"
      "._*"
    ]
    projectHome: "/Users/ambethia/Documents"
    telemetryConsent: "limited"
  editor:
    fontSize: 22
    invisibles:
      space: " "
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
  emmet: {}
  "exception-reporting":
    userId: "a10c643c-cba3-79b5-895c-b1cbd137b869"
  "expand-region": {}
  haxe: {}
  "js-autoimport":
    spaceForNamedImports: false
  linter:
    errorPanelHeight: 44
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: false
    fixOnSave: true
    globalNodePath: "/Users/ambethia/.node"
    showRuleIdInMessage: false
  "linter-glsl": {}
  "linter-htmlhint": {}
  "linter-js-standard":
    lintMarkdownFiles: true
  "linter-jscs":
    onlyConfig: true
  "linter-less": {}
  "linter-rubocop": {}
  "linter-stylelint":
    useStandard: true
  "linter-stylint":
    onlyRunWhenConfig: true
  "linter-tidy":
    executablePath: "/usr/local/bin/tidy"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    relativeImagePath: true
    siteEngine: "html"
    tableAlignment: "left"
  metrics:
    userId: "15d051bf606ae5751075b86ce538bd746bfcfcff"
  "one-dark-ui": {}
  pigments: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#72bef2"
        green: "#d291e4"
        red: "#b9c0cb"
        yellow: "#dbaa79"
      zBright:
        brightBlack: "#6f7783"
        brightBlue: "#72bef2"
        brightCyan: "#65c2cd"
        brightGreen: "#a7cc8c"
        brightMagenta: "#d291e4"
        brightRed: "#e88388"
        brightYellow: "#ffffff"
    core: {}
    iconColors:
      blue: "#65c2cd"
      green: "#d291e4"
      magenta: "#cf32d0"
      orange: "#cfa174"
      pink: "#e88388"
      yellow: "#f3e493"
  "project-viewer":
    convertOldData: false
    statusBarVisibility: true
  stylefmt:
    formatOnSave: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "terminal-plus":
    style: {}
    toggles: {}
  "toggle-quotes":
    quoteCharacters: "\"'`"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".css.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
".js.jsx.source":
  editor:
    preferredLineLength: 120
".markdown.text":
  whitespace:
    removeTrailingWhitespace: false
".rust.source":
  editor:
    preferredLineLength: 99
