packages: [
  "activate-power-mode"
  "ambethia"
  "atom-beautify"
  "atom-language-rust"
  "atom-ternjs"
  "atom-wrap-in-tag"
  "atomic-chrome"
  "autocomplete-paths"
  "automate-power-mode"
  "build"
  "build-cargo"
  "build-npm-apm"
  "busy"
  "color-picker"
  "docblockr"
  "emmet"
  "emmet-jsx-css-modules"
  "environment"
  "expand-region"
  "file-icons"
  "floobits"
  "git-plus"
  "html-entities"
  "imdone-atom"
  "kilrogg"
  "language-api-blueprint"
  "language-babel"
  "language-docker"
  "language-slim"
  "linter"
  "linter-api-blueprint"
  "linter-clang"
  "linter-eslint"
  "linter-htmlhint"
  "linter-rubocop"
  "linter-stylelint"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "script"
  "semanticolor"
  "source-preview"
  "standard-formatter"
  "stylefmt"
  "toggle-quotes"
]
