/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// stylelint-disable selector-type-no-unknown

atom-workspace,
atom-text-editor {
  text-rendering: optimizeLegibility;
}

atom-workspace {
  font-family: "Operator SSm";
}

atom-text-editor {
  text-rendering: optimizeLegibility;
  font-family: "Operator Mono";
  font-weight: 200;
  line-height: 1.7;
}

atom-panel.tool-panel {
  font-size: 1em;
}

atom-pane .texteditor.tab.modified .title {
  font-style: italic;
}

atom-pane atom-text-editor {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

atom-text-editor::shadow {
  .storage.type.function.arrow,
  .keyword.operator,
  .meta.brace {
    font-family: "Fira Code";
  }

  .string.quoted,
  .string.regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }


  .keyword.control,
  .entity.other.attribute-name.pseudo-class.css,
  .entity.other.attribute-name,
  .entity.other.inherited-class,
  .storage.modifier,
  .storage.type,
  .variable.parameter {
    font-style: italic;
  }

  .constant.language.boolean,
  .variable.language.this,
  .entity.name.class {
    font-weight: 600;
  }

  // Fade angle brackets on HTML/JSX tags
  .punctuation.definition.tag {
    opacity: 0.5;
  }

  // Don't do semantic colors on bare text in JSX
  .JSXNested > .identifier {
    color: hsl(95, 38%, 82%) !important;
  }

  // Default contrast to _too_ much
  .semanticolor-contrast {
    color: hsl(220, 14%, 82%);
    background-color: transparent;
  }
}

.platformio-ide-terminal .xterm {
  color: hsl(220, 14%, 71%);
  background-color: hsl(220, 13%, 13%);

  ::selection {
    background-color: hsl(220, 10%, 60%);
  }

  .terminal-cursor {
    background-color: hsl(220, 14%, 90%);
  }
}
