/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// stylelint-disable selector-type-no-unknown

atom-workspace,
atom-text-editor {
  text-rendering: optimizeLegibility;
}

atom-workspace {
  font-family: "Operator SSm";
}

atom-text-editor {
  text-rendering: optimizeLegibility;
  font-family: "Operator Mono";
  font-weight: 200;
  line-height: 1.7;
}

atom-panel.tool-panel {
  font-size: 1em;
}

atom-pane .texteditor.tab.modified .title {
  font-style: italic;
}

atom-pane .tab-bar {
  height: 31px; // Align with FF compact nav bars
}

atom-pane atom-text-editor {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

atom-text-editor.editor {
  .line:not(.cursor-line) {
    .syntax--storage.syntax--type.syntax--function.syntax--arrow,
    .syntax--keyword.syntax--operator {
      font-family: "Fira Code";
      font-size: 0.918em;
    }
  }

  .syntax--string.syntax--quoted,
  .syntax--string.syntax--regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }

  .syntax--keyword.syntax--control,
  .syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css,
  .syntax--entity.syntax--other.syntax--attribute-name,
  .syntax--entity.syntax--other.syntax--inherited-class,
  .syntax--storage.syntax--modifier,
  .syntax--storage.syntax--type,
  .syntax--variable.syntax--parameter {
    font-style: italic;
  }

  .syntax--constant.syntax--language.syntax--boolean,
  .syntax--variable.syntax--language.syntax--this,
  .syntax--entity.syntax--name.syntax--class {
    font-weight: 600;
  }

  // Fade angle brackets on HTML/JSX tags
  .syntax--punctuation.syntax--definition.syntax--tag {
    opacity: 0.5;
  }

  // Don't do semantic colors on bare text in JSX
  .syntax--JSXNested > .syntax--identifier {
    color: hsl(95, 38%, 82%) !important;
  }

  // Default contrast to _too_ much
  .syntax--semanticolor-contrast {
    color: hsl(220, 14%, 82%);
    background-color: transparent;
  }
}
